#right-hub table {
    border-collapse: collapse; 
    border: 1px solid #000;
    color:#000;
    width: 70%;
}

td{
    text-align: center;
}

th{
    font-weight: bold;
}

a {
    text-decoration:none;
}

.table-action-buttons {
    padding: .25em 0;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    gap: .25em;
}

.table-action-buttons button{
    background: none;
    border: none;
    cursor: pointer;
}

tbody tr:nth-child(odd) {
background-color: #DCEBE6;
}

/* tr:hover:nth-child(1n + 2) {
background-color: #085F63;
color: #fff;
} */